html, body, td {
  margin:0;
  padding:0;
  font:16px sans-serif;
}
html {
  background:#f5f5f5;
}
h1 {
  font-weight:normal;
  font-size:20px;
  margin:0;
}
input[type=text], input[type=number] {
  font-size:14px;
  padding:5px;
}
.main {
  max-width:1200px;
  margin:0 auto;
}
.scoresheet h1 span {
  display:block;
}
h1.wintitle, h1.lobtitle {
  font-size:28px;
  margin:0 0 20px 0;
}
h2 {
  font-size:24px;
  font-weight:normal;
  margin:0;
  float:right;
}
.leftcol {
  margin-right:300px;
}
.hand {
  clear:left;
  padding-top:20px;
}
.holder {
  margin:5px;
  border-radius:8px;
  border:2px dashed #ccc;
  width:158px;
  height:208px;
  float:left;
}
.card {
  padding:15px;
  margin:-2px;
  border-radius:8px;
  background:white;
  border:1px solid #333;
  width:130px;
  height:180px;
  float:left;
  box-shadow:2px 3px 3px 0 #aaa;
}
.card.slot {
  background:none;
  border:1px dashed transparent;
  box-shadow:none;
}
.holder.buttons {
  border-color:transparent;
}
.holder.buttons .card {
  background:transparent;
  border-color:transparent;
  box-shadow:none;
}
.holder.buttons button {
  margin-top:40px;
}
.blackcard {
  color:white;
  background:#111;
}
.blackcard .blank {
  color:#ff3;
}
.cardtxt {
  height:160px;
}
.num {
  text-align:right;
  font-style:italic;
}
.num div {
  background:white;
  color:#111;
  width:20px;
  height:20px;
  border-radius:10px;
  text-align:center;
  line-height:20px;
  display:inline-block;
  font-style:normal;
}
.draggable {
  cursor:move;
}
.err {
  position:absolute;
  display:none;
  margin:0 auto;
  min-width:200px;
  z-index:999;
  font-size:30px;
  color:white;
  background:#c00;
  padding:10px 10px;
  box-shadow:1px 1px 6px 0 #333;
}
.err a {
  color:white;
  font-weight:bold;
}
.err button {
  padding:0;
  float:right;
  margin:0 0 0 10px;
  width:40px;
  height:40px;
}
.clear {
  clear:both;
}
.scoresheet, .finalscores {
  margin:10px 10px 0;
  padding:15px 20px 20px;
  box-shadow:1px 1px 6px 0 #777;
  float:right;
  background:white;
}
.finalscores {
  box-shadow:1px 1px 6px 0 #704;
  margin:0 40px;
  float:none;
  color:black;
}
.finalscores table td .blank:hover {
  color:#d7005f;
}
.scoresheet table, .finalscores table {
  text-align:left;
  border-spacing:0;
  margin:5px 0 10px;
  width:100%;
}
.finalscores table {
  margin-bottom:30px;
}
.scoresheet table th, .scoresheet table td {
  padding:5px 0 3px;
  text-align:right;
  width:45px;
  max-width:45px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.scoresheet table th:first-child, .scoresheet table td:first-child {
  text-align:left;
  width:110px;
  max-width:110px;
}
.scoresheet table th:last-child, .scoresheet table td:last-child {
  padding-left:8px;
  padding-right:0;
}
.scoresheet table th {
  font-weight:normal;
  color:#aaa;
}
.scoresheet table td {
  border-top:1px solid #aaa;
}
.finalscores table th, .finalscores table td {
  padding:5px 8px 3px 0;
}
.finalscores table .rt {
  text-align:right;
  padding-left:8px;
  padding-right:0;
}
.finalscores table th:last-child, .finalscores table td:last-child {
  padding-left:8px;
  padding-right:0;
}
.finalscores table th {
  font-weight:normal;
  color:#aaa;
}
.finalscores table td {
  border-top:1px solid #aaa;
}
table tr.myself td {
  color:#d7005f;
}
.lobbywin table {
  border-spacing:0;
  margin:5px 0 0;
  width:100%;
}
.lobbywin table th, .lobbywin table td {
  padding:5px 0 3px 10px;
  text-align:right;
  min-width:70px;
  max-width:300px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.lobbywin table th:first-child, .lobbywin table td:first-child {
  text-align:left;
  padding-left:8px;
}
.lobbywin table th:last-child, .lobbywin table td:last-child {
  padding-left:16px;
  padding-right:8px;
}
.lobbywin table th {
  font-weight:normal;
  color:#aaa;
}
.lobbywin table td {
  border-top:1px solid #aaa;
}
button {
  margin:0 auto 10px;
  width:130px;
  padding:10px 0;
  font-size:20px;
}
button.abandon, button.confirm {
  margin:0;
  width:130px;
  padding:5px 0;
  font-size:15px;
  float:right;
}
button.scale {
  display:none;
}
.lobbywin table td:nth-child(5) {
  display:none;
}
.lobbywin ul {
  border-bottom:1px solid #aaa;
  margin:0 0 20px 0;
  padding:0;
}
.lobbywin li {
  cursor:pointer;
  list-style:none;
  display:inline-block;
  border:1px solid #aaa;
  padding:8px 10px;
  position:relative;
  top:1px;
  background:#eee;
  color:#888;
  margin-left:10px;
}
.lobbywin li.selected {
  border-bottom:1px solid #fff;
  background:#fff;
  color:#d7005f;
}
.lobbywin tbody tr:hover {
  background-color:#d7005f;
  color:#fff;
  cursor:pointer;
}
.key {
  color:#d7005f;
}
.lobbywin tbody tr:hover .key {
  color:#fff;
}
.createpage {
  display:none;
}
.createpage label div {
  margin:10px 0 0;
}
.norooms {
  display:none;
}
.scoresheet p {
  color:#aaa;
  margin:10px 0 10px;
}
.scoresheet button, button.leave {
  width:auto;
  padding:0 10px;
}
.finalscores button {
  width:100px;
  padding:10px;
  margin:0 10px 10px 0;
}
tbody.history td:first-child {
  color: #aaa;
  font-size: 200%;
}
.shade {
  position:fixed;
  top:0;
  left:0;
  background:black;
  opacity:0.5;
  width:100%;
  height:100%;
  display:none;
  z-index:100;
}
.win {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:none;
  z-index:200;
}
.win > div {
  background:white;
  opacity:1.0;
  padding:20px 30px;
  max-width:1100px;
  margin:90px auto 0;
  box-shadow:2px 2px 3px 0 black;
}
.champwin > div {
  background-color:#d7005f;
  text-align:center;
  color:#fff;
  padding:40px 0;
}
.champwin h1 {
  font-size:28px;
  margin:30px 0;
}
.champwin p {
  letter-spacing:2px;
}
.selectwin .card {
  margin:0;
}
.selectwin .blackcard {
  width:200px;
  height:300px;
  margin:0 20px 20px 0;
  border-radius:12px;
}
.selectwin .blackcard .cardtxt {
  height:280px;
}
.selectwin .blackcard .cardtxt span {
  /* display:block; */
  color:#f7d700;
}
.mystery .cardtxt {
  visibility:hidden;
}
.aset {
  float:left;
  box-shadow:1px 1px 6px 0 #777;
  background:#eee;
  padding:10px;
  margin:0 20px 20px 0;
  cursor:pointer;
}
.aset:hover {
  background:#d7005f;
  /* box-shadow:1px 1px 8px 0 #444; */
}
.aset:hover .card {
  box-shadow:1px 1px 6px 0 #87000f;
}
.aset.potential {
  background:#f7d700;
}
.aset.potential .card {
  box-shadow:1px 1px 6px 0 #878700;
}
a.help {
  float:right;
}
.play {
}
.play .holder {
  background: url('playbg.png') no-repeat center center;
}
.play.czarbg .holder {
  background: url('czarbg.png') no-repeat center center;
}
.hand.drawable .holder {
  background: url('drawbg.png') no-repeat center center;
  cursor: pointer;
}
.hand.drawable .holder.drawing {
  background: none;
  cursor: auto;
}
.callithelper {
  display:none;
}
.aset.favorite .card {
  text-shadow: 0 1px 1px white;
  background: #f7d683; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f7d683 0%, #fceabb 14%, #fceabb 16%, #ffffff 26%, #ffffff 35%, #fceabb 39%, #fccd4d 56%, #f8b500 59%, #aa5200 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f7d683), color-stop(14%,#fceabb), color-stop(16%,#fceabb), color-stop(26%,#ffffff), color-stop(35%,#ffffff), color-stop(39%,#fceabb), color-stop(56%,#fccd4d), color-stop(59%,#f8b500), color-stop(97%,#aa5200)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #f7d683 0%,#fceabb 14%,#fceabb 16%,#ffffff 26%,#ffffff 35%,#fceabb 39%,#fccd4d 56%,#f8b500 59%,#aa5200 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #f7d683 0%,#fceabb 14%,#fceabb 16%,#ffffff 26%,#ffffff 35%,#fceabb 39%,#fccd4d 56%,#f8b500 59%,#aa5200 97%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #f7d683 0%,#fceabb 14%,#fceabb 16%,#ffffff 26%,#ffffff 35%,#fceabb 39%,#fccd4d 56%,#f8b500 59%,#aa5200 97%); /* IE10+ */
  background: linear-gradient(135deg,  #f7d683 0%,#fceabb 14%,#fceabb 16%,#ffffff 26%,#ffffff 35%,#fceabb 39%,#fccd4d 56%,#f8b500 59%,#aa5200 97%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d683', endColorstr='#aa5200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mobonly {
  display:none;
}

.pullbar {
  display:none;
}

@media (max-width: 850px) {
  html {
    overflow-y:scroll;
  }

  body {
    margin-top:30px;
  }

  h2 {
    display:none;
  }

  .mobonly {
    display:block;
  }

  button.mobonly {
    display:inline;
  }

  .nomob {
    display:none;
  }

  .leftcol {
    margin-right:0;
  }

  .scoresheet {
    float:none;
    position:fixed;
    top:0;
    left:0;
    z-index:15;
    box-shadow:none;
    margin:0;
    padding:0;
    width:100%;
  }

  .scoresheet table {
    margin-bottom:0;
  }

  .scoresheet p {
    margin:0;
  }

  .scoresheet h1 span {
    display:inline;
  }

  .scoresheet button {
    float:right;
    padding:5px 10px;
  }

  .finalscores button {
    padding:5px 10px;
  }

  .scoresheet .help {
    display:none;
  }

  .sshelper {
    padding:10px;
    max-height:800px;
    overflow:auto;
  }

  .finalscores {
    margin:0 10px;
    padding:10px 15px 15px;
  }

  .history td:nth-child(2),
  .history th:nth-child(2) {
    max-width:60px;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .pullbar {
    display:block;
    background-color:black;
    color:white;
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:20px;
    cursor:pointer;
    white-space:nowrap;
    clear:both;
  }

  .pullbar .sah {
    display:block;
    float:left;
    text-align:left;
    padding-left:7px;
    width:80px;
  }

  .pullbar .clock {
    display:block;
    float:right;
    text-align:right;
    padding-right:7px;
    width:80px;
  }

  .holder {
    margin:5px 0 0 5px;
    border:1px dashed #ccc;
    width:79px;
    height:79px;
    border-radius:5px;
  }

  .holder.buttons button {
    display:none;
  }

  .callithelper {
    display:block;
    position:fixed;
    width:100%;
    bottom:0;
    z-index:14;
  }

  .callithelper button.callit {
    margin:0 auto;
    width:100%;
    box-shadow:0px 0px 3px 0 #333;
  }

  .hand {
    padding-top:10px;
  }

  .card {
    padding:5px;
    width:70px;
    height:70px;
    font-size:10px;
    box-shadow:none;
    border-radius:5px;
    border-color:#f5f5f5;
  }

  .cardtxt {
    height:60px;
  }

  .num {
    font-size:10px;
  }

  .num div {
    width:12px;
    height:12px;
    line-height:14px;
  }

  .leftcol > .holder:first-child {
    width:251px;
  }

  .play > .holder:first-child {
    clear:both;
  }

  .play .holder, .play.czarbg .holder, .hand.drawable .holder {
    background-size:100% auto;
  }

  .blackcard, .selectwin .blackcard {
    width:242px;
    height:70px;
    border-radius:5px;
  }

  .selectwin .blackcard {
    margin:0 5px 5px 0;
  }

  .selectwin .blackcard .cardtxt {
    height:60px;
  }

  .win > div {
    padding:10px 4px;
    margin-top:30px;
    box-shadow:none;
  }

  .lobbywin > div {
    padding:10px;
  }

  h1.wintitle {
    font-size:14px;
    margin:0 4px 10px;
    min-height:35px;
  }

  .aset {
    padding:4px;
    margin:0 8px 8px 0;
    background:#ddd;
    box-shadow:none;
    border-radius:9px;
  }

  .aset .card {
    margin:1px;
    border:1px solid white;
  }

  .aset.potential .card {
    box-shadow:none;
  }

  .aset:hover .card {
    box-shadow:none;
  }

  .aset.favorite .card {
    border-color: #f7d683;
  }

  button.abandon, button.confirm {
    width:100px;
    font-size:12px;
    margin:0 0 10px 5px;
  }

  .lobbywin table {
    display:block;
  }

  .lobbywin thead {
    display:none;
  }

  .lobbywin tbody {
    display:block;
    width:100%;
  }

  .lobbywin table tr {
    display:block;
    width:100%;
    min-height:40px;
    padding:8px 0 0 0;
    clear:left;
    background-color:#fff;
    box-shadow: 0 1px 3px #777;
    border-radius:20px;
    margin-top:10px;
  }

  .lobbywin table td {
    display:block;
    float:left;
    border:0;
    min-width:0;
    max-width:auto;
  }

  .lobbywin table td:first-child {
    margin-left:12px;
  }

  .lobbywin table td:nth-child(2),
  .lobbywin table td:nth-child(3),
  .lobbywin table td:nth-child(4) {
    display:none;
  }

  .lobbywin table td:nth-child(5) {
    float:right;
    display:block;
    margin-right:20px;
  }
  .lobbywin table td:nth-child(6) {
    float:none;
    clear:both;
    width:0;
    height:0;
  }

  .filters label {
    display:block;
    margin-bottom:5px;
  }
}
