html, body, td {
  font:16px sans-serif;
}
h1 {
  font-weight:normal;
  margin:10px 10px 30px 10px;
}
h2 {
  font-weight:normal;
  margin-top:0;
}
.hand {
  clear:left;
}
.holder {
  margin:5px;
  padding:-4px;
  border-radius:10px;
  border:2px dashed #ccc;
  width:158px;
  height:208px;
  float:left;
}
.card {
  padding:15px;
  margin:-2px;
  border-radius:10px;
  background:white;
  border:1px solid #333;
  width:130px;
  height:180px;
  float:left;
  box-shadow:2px 3px 3px 0 #aaa;
}
.card.slot {
  background:none;
  border:1px dashed transparent;
  box-shadow:none;
}
.blackcard {
  color:white;
  background:#111;
}
.cardtxt {
  height:160px;
}
.num {
  text-align:right;
  font-style:italic;
}
.num div {
  background:white;
  color:#111;
  width:20px;
  height:20px;
  border-radius:10px;
  text-align:center;
  line-height:20px;
  display:inline-block;
  font-style:normal;
}
.thermo {
  width:4px;
  height:20px;
  box-shadow:0 0 2px 0 #777;
  float:left;
  opacity:0.3;
  /* visibility:hidden; */
}
.thermo:hover {
  box-shadow:0 0 6px 0 #777;
  cursor:pointer;
}
.card:hover .thermo {
  opacity:1.0;
  visibility:visible;
}
.thermo div {
  background-color:white;
}
.blackcard .thermo div {
  background-color:black;
}
.thermo.love {
  background-color:#2d3;
}
.thermo.hate {
  background-color:#f40;
}
.draggable {
  cursor:move;
}
.err {
  font-size:50px;
  color:white;
  background:#c00;
  padding:10px 30px;
  display:none;
}
.clear {
  clear:left;
}
.scoresheet {
  margin:30px 10px;
  border-spacing:0;
  float:left;
}
.scoresheet th, .scoresheet td {
  padding:7px 9px 3px;
  text-align:right;
}
.scoresheet th {
  font-weight:normal;
  color:#aaa;
}
.scoresheet td {
  border-top:1px solid #aaa;
}
h1.clock {
  float:right;
}
button {
  float:left;
  padding:10px 40px;
  font-size:20px;
  margin:40px 10px 10px;
}
.shade {
  position:fixed;
  top:0;
  left:0;
  background:black;
  opacity:0.5;
  width:100%;
  height:100%;
  display:none;
  z-index:100;
}
.selectwin {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:none;
  z-index:200;
}
.selectwin > div {
  background:white;
  opacity:1.0;
  padding:40px;
  margin:100px 80px 0;
  box-shadow:2px 2px 3px 0 black;
}
.selectwin .card {
  margin:0;
}
.selectwin .blackcard {
  width:200px;
  height:300px;
  margin:0 10px 10px 0;
}
.selectwin .blackcard .cardtxt {
  height:280px;
}
.aset {
  float:left;
  box-shadow:1px 1px 6px 0 #777;
  background:#eee;
  padding:10px;
  margin:0 10px 10px 0;
  cursor:pointer;
}
.aset:hover {
  background:#d7005f;
  box-shadow:1px 1px 8px 0 #444;
}
.aset:hover .card {
  box-shadow:1px 1px 6px 0 #87000f;
}
.aset.winner .card {
  background:yellow;
}
